@font-face { 
    font-family: "GolosTextDemiBold";
    src: url("../fonts/GolosTextDemiBold.eot");
    src: url("../fonts/GolosTextDemiBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GolosTextDemiBold.woff") format("woff"),
        url("../fonts/GolosTextDemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.eot");
    src: url("../fonts/GolosTextBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GolosTextBold.woff") format("woff"),
        url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'GolosTextWebRegular';
	src: url('Golos%20Text_Regular.eot');
	src:
	     url('../fonts/Golos%20Text_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Golos%20Text_Regular.woff2') format('woff2'),
	     url('../fonts/Golos%20Text_Regular.woff') format('woff'),
	     url('../fonts/Golos%20Text_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*logo-header*/
.container-menu {
    display: flex;
    max-width: 1920px;  
    height: 700px;
    margin: 0 auto;
    background-image: url(../img/Group171.png);
}

.container-logo-descr {
    display: flex;
    width: 246px;
    height: 36px;
    justify-content: space-between;
    position: absolute;
    margin-top: 26px;
    margin-left: 349px;
}

.container-logo {
    display: flex;
    justify-content: space-between;
}

.container-descr {
    font-family: "GolosTextDemiBold", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 108%;
    color: #595653;
    padding-left: 7px;
}

/*main*/
.container-main {
    display: flex;
    flex-direction: column;
    max-width: 542px;
    margin-left: 348px;
    margin-top: 124px;
}

.main-title {
    font-family: "Merriweather", sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #313131;
}

.down-descr {
    font-family: 'GolosTextWebRegular';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #313131;
    margin-bottom: 40px;
}


.main-btn {
    display: flex;
    width: 542px;
    height: 72px;
}

.btn-one {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 66px;
    padding: 16px 49px;
    width: 263px;
    height: 72px;
    background: #1f1f1f;
    font-family: "GolosTextDemiBold", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #fff;
}

.btn-two {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "GolosTextDemiBold", sans-serif;
    border: 2px solid #1f1f1f;
    border-radius: 66px;
    padding: 16px 49px;
    width: 263px;
    height: 72px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1f1f1f
}

/*picture*/
.pic-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content-one {
    padding-left: 225px;
}

.content-two {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 165px;
    padding-left: 30px;
}

.content-three {
    padding-bottom: 19px;
    padding-left: 20px;
}

.text {
    width: 2335px;
    height: 60px;
    background-color: #F54932;
    display: flex;
    margin: 0 auto;
}