@font-face { 
    font-family: "GolosTextDemiBold";
    src: url("../fonts/GolosTextDemiBold.eot");
    src: url("../fonts/GolosTextDemiBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GolosTextDemiBold.woff") format("woff"),
        url("../fonts/GolosTextDemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.eot");
    src: url("../fonts/GolosTextBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GolosTextBold.woff") format("woff"),
        url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'GolosTextWebRegular';
	src: url('Golos%20Text_Regular.eot');
	src:
	     url('../fonts/Golos%20Text_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Golos%20Text_Regular.woff2') format('woff2'),
	     url('../fonts/Golos%20Text_Regular.woff') format('woff'),
	     url('../fonts/Golos%20Text_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

